In [10]:
# A list of my grades
my_grades = ['B', 'D', 'B', 'C']

In [11]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    D
2    B
3    C
dtype: object

In [12]:
# Change the grades by one letter.
my_grades.map({'B': 'A',
   'C': 'B',
   'D': 'C'})

0    A
1    C
2    A
3    B
dtype: object

In [16]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
# convert the number greads to a Series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [18]:
# format grades to whole number percents
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object